<html ng-controller="Page1_Controller">
<body>
<div class="row">
  <div class="movie1">
    
  </div>
</div>
</body>
</html>



<html ng-controller="PageController">
<body>
<div class="row">
  <div class="movie2">
    
   
  </div>
</div> 
</body>
</html>

<html ng-controller="Page_Controller">
<body>
<div class="row">
  <div class="movie3">
    
  </div>
</div>
</body>
</html>

<html ng-controller="Page2_Controller">
<body>
<div class="row">
  <div class="movie4">
    
  </div>
</div>
</body>
</html>

<html ng-controller="Page5_Controller">
<body>
<div class="row">
  <div class="movie5">
    
  </div>
</div>
</body>
</html>

<html ng-controller="Page6_Controller">
<body>
<div class="row">
  <div class="movie6">
    
  </div>
</div>
</body>
</html>

<html ng-controller="Page7_Controller">
<body>
<div class="row">
  <div class="movie7">
    
  </div>
</div>
</body>
</html>

<html ng-controller="Page8_Controller">
<body>
<div class="row">
  <div class="movie8">
    
  </div>
</div>
</body>
</html>


      